{% extends 'home/base.html' %}
{% block title %}Sign-In{% endblock title %}
{% block content %}
<div class="bg-light border rounded-3 justify-content-center" style="text-align: center;">
    <h1><i class="fa-sharp fa-solid">Create A Channel First</i></h1>
    <br>
    <hr>
    <form action="" method="post">
    {% csrf_token %}
        <div class="form-group">
        <label for=""><i class="fa-sharp fa-solid">Name</i></label>
        <input type="text" id="username" name="cnlname" placeholder="Channel Name" Required>
        <div>
<hr>
        <button type="submit" class="btn btn-success"><i class="fa-regular">   start uploading...</i></button>
    </form>
</div>
</div>
</div>
    {% endblock content %}